.movements-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 500px;
  overflow-y: scroll;
  width: 90%;
}
.movements-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.movements-wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.movements-wrapper::-webkit-scrollbar-thumb {
  background-color: #1976d2;
}
.movements-wrapper .movements-card {
  width: 70%;
  background: #fff;
  padding: 16px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 1rem;
}

.movements-wrapper .movements-card .movements-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movements-wrapper .movements-card .movements-card-header h4 {
  font-size: 1rem;
  font-weight: bold;
}
.movements-wrapper .movements-card p span {
  font-weight: bold;
}
.movements-wrapper .movements-card .movements-card-header span svg {
  font-size: 1rem;
  color: red;
}

.movements-form {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
